<!--
title: Skip Page Template (html)
description: 
published: true
date: 2024-01-27T21:43:33.491Z
tags: 
editor: code
dateCreated: 2024-01-27T18:00:51.059Z
-->

<div style="background-image: url('/templates/skip_page_thumbnail.jpg'); height:250px; margin-right:20px">
  <p style="float:left;
            width:50100%;
            margin-top:170px;
            padding-top:5px;
            padding-left:20px;
            padding-bottom:5px;
            font-size:20px;
            font-weight:bold;
            background-image: linear-gradient(to right, rgba(16, 16, 16, 0.9), rgba(0, 0, 0, 0));">
    Area: <!-- Factory / City Ruins {pre Engels / post Engles / Tower} / Resistance Camp / Desert / Amusement Park / Pascal's Village / Forest / Flooded City / Copied City / Deep Factory / Commercial / Tower / Emil's Home -->
    <br>
    Character: <!-- 2B, A2, 9S -->
  </p>
</div>

<h1>Overview</h1>
<p>
  This is a consize overview of what this skip is, why it is done and what defining characteriscia are.
</p>
  
<h1>Variations</h1>
<p>
  The different ways to do this trick ordered by increasing difficulty.
  <!-- if difficulty ambiguous in meta relevant order -->
</p>
  <table>
  <tr>
    <th>Variation</th><th>Timesave</th>
  </tr>
  <tr>
    <td>Variation 1</td><td>XXs</td>
  </tr>
  <tr>
    <td>Variation 2</td><td>XXs</td>
  </tr>
  <tr>
    <td>(...)</td><td>(...)</td>
  </tr>
</table>

<tabset style="margin-right:20px"><template v-slot:tabs><li>Variation 1</li><li>Variation 2</li></template>
<template v-slot:content>
<div class="tabset-panel">
  
  <!-- Tab 1 -->
  
  <p>
    This version uses a Bare Fist Lift which gives more height than a Small Sword Lift. The downside is that you lose time switching weapons in the menu.
  </p>

  <br>
  <table style="float:left; margin-right:20px">
    <tr>
      <th>Weapon Set 1</th><th></th>
    </tr>
    <tr>
      <td>Light Attack</td><td>[ <i>Any</i> ]</td>
    </tr>
    <tr>
      <td>Heavy Attack</td><td>Bare Fist</td>
    </tr>
  </table>

  <table style="float:left; margin-right:20px">
    <tr>
      <th>Weapon Set 2</th><th></th>
    </tr>
    <tr>
      <td>Light Attack</td><td>[ <i>Large Sword</i> ]</td>
    </tr>
    <tr>
      <td>Heavy Attack</td><td>[ <i>Small Sword</i> ]</td>
    </tr>
  </table>
  <div style="margin-top:130px">
    <a href="/intro/weapon-sets">?</a>
  </div>
  <br>

  <p>
    Assuming you're doing this in prologue you'll just have to swap <b>Virtuous Treaty</b> for <b>Bare Fist</b> in <b>Weapon Set 1</b>.<br>
    Switch to <b>Weapon Set 1</b> and do the following combo to jump onto the raised bridge:<br>
		<br>
    <b>Lift &rarr; Switch WS &rarr; Light &rarr; Heavy &rarr; Jump &rarr; Light &rarr; Heavy &rarr; Plunge</b><br>
  </p>
  
  <br>
  <ul>
    <li>The lift should be a delayed lift.</li>
    <li>The plunge shouldn't be instant, let the dash animation start and then plunge. If you do an Instant Plunge, you won't be able to dash off right away.</li>
    <li>Make sure you're getting the maximum height from your actions, don't rush your inputs!</li>
    <li>The second Light Attack needs to be done during the ascending phase of your jump.</li>
  </ul>
  <br>

  <div style="float:left; margin-right:20px;">
    <h3>Demo</h3><br>
    <iframe width="400" height="225" style="border:none;"
    src="https://www.youtube.com/embed/5IJGb9aKPZc">
    </iframe>
  </div>

  <div style="float:left; margin-right:20px;">
    <h3>Tutorial</h3><br>
    <iframe width="400" height="225" style="border:none;"
    src="https://www.youtube.com/embed/AnplpZwYnOE">
    </iframe>
  </div>
  <div style="margin-top:290px"></div>
  
</div><div class="tabset-panel">
  
<!-- Tab 2 -->
  
  <div style="float:right; text-align:center; margin:20px">
    <img width="400" height="225" src="/templates/variation_thumbnail.jpg"><br>
    <i>Steel beams used to double lift off of</i>
  </div>

  <p>
    This version utilizes a stack of girders to double lift from for a ton of extra height, reducing the timing precision required to reach the top of the bridge. 
  </p>

  <br>
  <table style="float:left; margin-right:20px">
    <tr>
      <th>Weapon Set (any)</th><th></th>
    </tr>
    <tr>
      <td>Light Attack</td><td>[ <i>Any</i> ]</td>
    </tr>
    <tr>
      <td>Heavy Attack</td><td>[ <i>Small Sword</i> ]</td>
    </tr>
  </table>
  <div style="margin-top:130px">
    <a href="/intro/weapon-sets">?</a>
  </div>
  <br>

  <p>
    In Prologue this will correspond to <b>Weapon Set 2</b>.<br>
    Using this Weapon Set walk up to the left side of the stack of girders when facing away from the direction you would go over the bridge in.<br>
    <br>
    Walking against the part of the stack not covered by a tarp do the following combo to jump onto the raised bridge:<br>
		<br>
    <b>Lift &rarr; Heavy &rarr; Lift &rarr; Jump(Hold) &rarr; Podspin &rarr; Heavy &rarr; Plunge</b><br>
  </p>
  
  <br>
  <ul>
      <li>The first lift into the girders needs to be instant in order to refresh the jump so you are able to lift again.</li>
      <li>It is recommended to delay the second lift.</li>
      <li>After the initial lift jump towards the bridge. Usually you will reach it with the podspin.</li>
      <li>Due to the height you might need to be careful not to plunge over the bridge into the abyss.</li>
  </ul>
	<br>
  
  <div style="float:left; margin-right:20px;">
    <h3>Demo</h3><br>
    <iframe width="400" height="225" style="border:none;"
    src="https://www.youtube.com/embed/5IJGb9aKPZc">
    </iframe>
  </div>

  <div style="float:left; margin-right:20px;">
    <h3>Tutorial</h3><br>
    <iframe width="400" height="225" style="border:none;"
    src="https://www.youtube.com/embed/AnplpZwYnOE">
    </iframe>
  </div>
  <div style="margin-top:290px"></div>
  
</div></template></tabset>

<h1>Skip Second Part</h1>
<p>
	Start holding Dash during the plunge. This will skip the slam into the ground and start your dash instantly.
	<br>
	After this dash, there are a couple of different ways to get to the other side.
</p>
<br>

<tabset style="margin-right:20px"><template v-slot:tabs><li>Optimal Version</li><li>Easier Version</li></template>
<template v-slot:content>
<div class="tabset-panel">
  <p>
  <b>Dash &rarr; Jump &rarr; Jump &rarr; Switch WS &rarr; Plunge</b>
  </p>
  
	<ul>
    <li>The switching of Weapon Sets can be done in many places other than the one mentioned above. Most common places are before the first Dash or right before the ending Dash for the plunge.</li>
    <li>Don't rush your jump inputs. Leave some space in between to cover more horizontal distance.</li>
    <li>Make sure to do your first Jump after your Dash ends. If not, you will get a "standing jump" which will have much less forward momentum.</li>
  </ul>
  
  <p>
  	Swapping WS during a Dash will cut it off, so after getting to the other side, swap WS in *between* dashes.
  </p>
  <div style="float:left; margin-right:20px;">
    <h3>Demo</h3><br>
    <iframe width="400" height="225" style="border:none;"
    src="https://www.youtube.com/embed/KB1CLXZPtCc">
    </iframe>
  </div>
  <div style="margin-top:290px"></div>
</div><div class="tabset-panel">
  <p>
  <b>Dash &rarr; Jump &rarr; Podspin &rarr; Jump &rarr; Podspin &rarr; Dash</b>
  </p>
  
  <ul>
  	<li>There are many other ways to do this. The one provided is just a safe option to get you started.</li>
  </ul>
  
  <div style="float:left; margin-right:20px;">
    <h3>Demo</h3><br>
    <iframe width="400" height="225" style="border:none;"
    src="https://www.youtube.com/embed/sReGQj67HJU">
    </iframe>
  </div>
  <div style="margin-top:290px"></div>
</div></template></tabset>